$GRAY_BLUE_COLOR: #41464e;
$LIGHT_COLOR: #98abcf;


.post_list {

    &___post_card {
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 20px 30px 30px;
        list-style: none;
        max-width: 612px;
        min-height: 200px;
        background-color: $GRAY_BLUE_COLOR;
        border-radius: 25px;

        @media (prefers-color-scheme: light) {
            background-color: $LIGHT_COLOR;
        }
    };

    
};