:root {
  --light-color: #d4d4d4;
  --dark-color: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--dark-color);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--light-color);
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
    
  html {
    background-color: var(--light-color);
  }

  .App {
    color: var(--dark-color);
  }
}
