$GRAY_BLUE_COLOR: #41464e;
$LIGHT_COLOR: #98abcf;

.full_post {
    align-self: center;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 30px 30px;
    list-style: none;
    width: 612px;
    min-height: 200px;
    background-color: $GRAY_BLUE_COLOR;
    border-radius: 25px;

    @media (prefers-color-scheme: light) {
        background-color: $LIGHT_COLOR;
    }
};